.container {
    margin: auto;
    max-width: 1200px;
}

#editor-cpp,
#editor-bpp {
    flex: 1 0 0%;
    margin: 2px;
}

.code {
    height: calc(50vh - 28px);
    border: grey 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    min-height: 400px;
}

body {
    background: #212529;
    width: calc(100% - 16px);
    min-height: calc(100% - 16px);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
    box-sizing: border-box;
    color: white;
}

.translator {
    display: flex;
}

#examples pre {
    display: none;
}
